#navbar {
    position:sticky;
    top: 0px;
    background-color: var(--surface-b);
    z-index: 1;
    border: 1px var(--surface-b) solid;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}