<div class="bg-secondary py-5 text-center">
    <div class="social text-sm">
        <p>FOLLOW STAR WARS: </p>
        <p class="text-xl my-3">
            <i class="fa-brands fa-facebook mx-3 text-secondary cursor-pointer select-none"></i>
            <i class="fa-brands fa-instagram mx-3 text-secondary cursor-pointer select-none"></i>
            <i class="fa-brands fa-twitter mx-3 text-secondary cursor-pointer select-none"></i>
            <i class="fa-brands fa-youtube mx-3 text-secondary cursor-pointer select-none"></i>
        </p>
    </div>
    <div class="mt-5 mx-3">
        <p class="text-secondary">TM & © Lucasfilm Ltd. All Rights Reserved</p>
        <p class="mt-3 flex flex-wrap justify-content-center line-height-4">
            <a class="cursor-pointer">Terms of Use</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Additional Content Information</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Privacy Policy</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Children's Online Privacy Policy</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Your California Privacy Rights</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Star Wars at shopDisney</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Star Wars Helpdesk</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Interest-Based Ads</a> <span class="mx-2"> | </span>
            <a class="cursor-pointer">Do Not Sell My Personal Information</a>
        </p>
    </div>
</div>